* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  height: 100px;
  margin: 0 auto;
}

nav button {
  width: 116px;
  height: 52px;
  border-radius: 10px;
  /* border: none; */
  color: green;
  font-weight: bolder;
}
nav h1 {
  font-size: 40px;
}

header {
  background-color: #c6e4d6;
  height: 560px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
}

.leftSection {
  width: 48%;
}
.rightSection {
  width: 48%;
  height: 400px;
}

header div button {
  width: 270px;
  height: 56px;
  background-color: #006a50;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  border: none;
  margin-top: 20px;
}

.parent-div {
  max-width: 1280px;
  margin: 30px auto;
  display: flex;
  font-size: 20px;
  gap: 24px;
}

.child-div {
  border: 2px solid gray;
  height: 244px;
  padding: 15px;
  border-radius: 20px;
}

.child-div img {
  width: 62px;
  height: 62px;
}
.child-div h2 {
  margin: 10px 0;
}

.inputField {
  width: 1132px;
  height: 64px;
  display: block;
  margin: 32px auto;
  font-size: 20px;
  text-align: center;
}
